/* line 5, ../../../Program Files/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Program Files/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Program Files/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Program Files/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Program Files/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Program Files/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Program Files/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Program Files/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Program Files/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/core/_button.scss */
.btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  background: none;
  border: 1px solid transparent;
  padding: 8px 14px;
  border-radius: 4px;
  font-size: 15px;
}
/* line 16, ../sass/core/_button.scss */
.btn[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

/* line 27, ../sass/core/_button.scss */
.btn-primary {
  background: #51bf87;
  color: #fff;
  border-color: #51bf87;
}
/* line 13, ../sass/helper/_mix.scss */
.btn-primary:hover {
  background: #76cda1;
  border-color: #76cda1;
}
/* line 17, ../sass/helper/_mix.scss */
.btn-primary:active {
  background: #3ba26e;
  border-color: #3ba26e;
}

/* line 31, ../sass/core/_button.scss */
.btn-info {
  background: #0bacd3;
  color: #fff;
  border-color: #0bacd3;
}
/* line 13, ../sass/helper/_mix.scss */
.btn-info:hover {
  background: #1ecaf3;
  border-color: #1ecaf3;
}
/* line 17, ../sass/helper/_mix.scss */
.btn-info:active {
  background: #0884a3;
  border-color: #0884a3;
}

/* line 35, ../sass/core/_button.scss */
.btn-tip {
  background: #f4ad49;
  color: #fff;
  border-color: #f4ad49;
}
/* line 13, ../sass/helper/_mix.scss */
.btn-tip:hover {
  background: #f7c379;
  border-color: #f7c379;
}
/* line 17, ../sass/helper/_mix.scss */
.btn-tip:active {
  background: #f19719;
  border-color: #f19719;
}

/* line 39, ../sass/core/_button.scss */
.btn-error {
  background: #db5565;
  color: #fff;
  border-color: #db5565;
}
/* line 13, ../sass/helper/_mix.scss */
.btn-error:hover {
  background: #e47f8b;
  border-color: #e47f8b;
}
/* line 17, ../sass/helper/_mix.scss */
.btn-error:active {
  background: #d12c40;
  border-color: #d12c40;
}

/* line 43, ../sass/core/_button.scss */
.btn-lg {
  padding: 10px 16px;
  font-size: 19px;
  line-height: 1.33;
  border-radius: 6px;
}

/* line 46, ../sass/core/_button.scss */
.btn-sm {
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
}

/* line 49, ../sass/core/_button.scss */
.btn-block {
  display: block;
  width: 100%;
}
